@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h2>Welcome to YourTechSolution!</h2>
                <p class="lead">
                    YourTechSolution is here to provide innovative and reliable technical solutions to meet your needs.
                </p>
                <p>
                    Explore our website to learn more about our services and how we can assist you in achieving your goals.
                </p>
            </div>
        </div>
    </div>

    <!-- Lägg till bilder här -->
    <div class="row mt-5">
        <div class="col-md-4 mb-3">
            <img src="~/images/code1.jpg" alt="Code Image 1" class="img-fluid">
        </div>
        <div class="col-md-4 mb-3">
            <img src="~/images/code2.jpg" alt="Code Image 2" class="img-fluid">
        </div>
        <div class="col-md-4 mb-3">
            <img src="~/images/code3.jpg" alt="Code Image 3" class="img-fluid">
        </div>
    </div>
</div>
